<!-- start custom footer snippets -->

<!-- Google addsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2367691231152778"
     crossorigin="anonymous"></script>
     
<!-- alphaface.footer.add -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2367691231152778"
     data-ad-slot="8141421734"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>


<!-- end custom footer snippets -->