@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.logo_img {
    width: 40.6%;
    margin: 3rem auto 1rem;
}
.logo_img img {
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    display: block;
    margin: 0 auto;
}

.suject {
    font-family: 'SBAggroM', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 3rem auto;
    color: #ffd400;
    -webkit-text-stroke: 2px #374d9a;
}

.file-upload {
    height: 20rem;
    margin: 0 auto;
}
.image-upload-wrap {
    border-radius: 100%;
    background: url("img/monsterball.png")center no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: 20rem;
    box-shadow: 1px 1px 10px #fff;
    height: 100%;
    width: 20rem;
    margin: 0 auto;
}
.image-upload-wrap:hover {
    border: 2px solid blanchedalmond;
    box-shadow: rgb(255 255 255) 1px 1px 10px
}
.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 20rem;
    height: 20rem;
    outline: none;
    opacity: 0;
    cursor: pointer;
    object-fit: cover;
    display: inline-block;
}
.drag-text {
    text-align: center;
    width: 20rem;
    height: 20rem;
}
.fa-download {
    color: #ffffff;
    font-size: 500%;
    margin-top: 1.3rem;
    color: #ffd400;
    -webkit-text-stroke: 4px #374d9a;
}
.drag-text h2 {
    width: 70%;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffd400;
    -webkit-text-stroke: 1.2px #374d9a;
    font-size: 2.2rem;
    font-family: 'SBAggroM', sans-serif;
    text-align: center;
    margin: 0 auto;
    line-height: 3rem;
    margin-top: 2rem;
}
.file-upload-content {
    display: none;
    text-align: center;
    width: 100%;
}
.file-upload-image {
    object-fit: cover;
    border-radius: 100%;
    max-height: 15rem;
    max-width: 15rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.subject-explain h2 {
    font-family: 'SBAggroM', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto;
    color: #f0e6d2;
    margin: 3rem 0 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
#label-container {
    display: none;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}
.loadingBox {
    display: none;
    width: 40rem;
    background: linear-gradient(to top, #000000 85%, #c42a12 15%);
    position: relative;
    border: 20px solid #c42a12;
    border-radius: 10px;
    margin: auto;
}
.result-image {
    padding-top: 3rem;
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}
.result-image::before {
    content:"";  position:absolute;  left: -33%; top:-2%;
    display:block; width:100%; height: 9rem;
    background:url(img/box.png) center no-repeat;
    background-size:contain; z-index:0;
}
.result-image img {
    width: 40%;
}
.result-title {
    font-family: 'SBAggroM',sans-serif;
    font-size: 2.6rem;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.result-explain {
    font-family: 'SBAggroM',sans-serif;
    font-size: 2rem;
    margin: 0.5rem auto 2rem;
    line-height: 1.5;
    width: 38rem;
}


/* responsive */
@media screen and (max-width: 768px) {
    .suject{
        font-size: 4rem;
    }

    .file-upload-image {
        max-height: 18rem;
        max-width: 18rem;
    }
}