/* font */
@font-face {
  font-family: 'KIMM_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {font-family: 'Happiness-Sans-Title';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');font-weight: normal;font-style: normal;}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'KorailRoundGothicBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* layout & setting */
*{text-transform: capitalize;transition: all .2s linear;}
html {font-size: min(2vw, 18px);}
body {font-family: 'Source Sans Pro', sans-serif;background-color: #020200;color: rgba(255, 255, 255, 0.95);word-break: keep-all;}
a {text-decoration: none;}


.banner {
  width: 100%;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/banner.jpg");
  background-size: cover;
}
.banner .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 100000;
  padding: 20px 0;
  background: rgba(0, 0, 0, .85);
}
.banner .header .layout {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.banner .header .name {
  display: flex;
}
.banner .header .name a {
  text-decoration: none;
  color: #ee3224;
  font-size: 2.2rem;
  font-family: 'KIMM_Bold', sans-serif;
  z-index: 100000;
}
.banner ul li {
  display: inline-block;
}
.banner ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  padding: 12px;
  color: blanchedalmond;
  font-family: 'Source Sans Pro', sans-serif;
  z-index: 1000;
}
.banner .header ul li a:hover {
  background-color: #d49466;
  border-radius: 4px;
}

.goog-te-gadget {
  position: absolute;
  float: right;
  right: 3%;
  top: 90%;
}

.navbar_toggleBtn {
  display: none;
  position: absolute;
  font-size: 2.5rem;
  color: blanchedalmond;
  right: 32px;
  top: 20px;
}

.banner .banner-text {
  left: 50%;
  top: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  color: ghostwhite;
  text-align: center;
  font-family: 'Happiness-Sans-Title';
}

.banner .banner-text h1 {
  font-size: 48px;
  margin-bottom: 14px;
  color: rgba(255, 255, 255, 0.95);
}


.banner .banner-text p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.95);
  position: relative;
}

.banner .banner-text button {
  font-size: 16px;
  background: none;
  border: 2px solid darkseagreen;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 26px;
  outline: none;
  cursor: pointer;
  transition: all .4s;
}

.banner .banner-text button:hover {
  background-color: darkslategray;
}

/* rank */
.rankSwiper{margin: 5rem 0; width: 96%;}
.rank-list .rank-box{display: flex; justify-content:center; align-items: center; height: 17rem; width: 19rem;}
.rank-list .rank-box:hover .rank-img{transform: scale(1.2); position: absolute;}
.rank-num{ font-family: 'SBAggroB',sans-serif; font-size: 14rem; color:#000; -webkit-text-stroke: 0.5rem #fff; width: 30%;}
.rank-img{width: 70%; height: 14rem; background-position: center; background-repeat: no-repeat; background-size: contain;}
.mo-rank-box{display: none;}


.rank-1st{background-image: url("img/likeabilitytest.jpg");}
.rank-2st{background-image: url("img/pokemonface.jpg");}
.rank-3st{background-image: url("img/pheromonetest.jpg");}
.rank-4st{background-image: url("img/zzanggutest.jpg");}
.rank-5st{background-image: url("img/nicknametest.jpg");}


.swiper-button-next.rank-button-next,.swiper-button-prev.rank-button-prev{color: #fff; font-weight: bold;}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{display: none;}

section.enjoy{
  border-top: 8px solid #222;
}

.main_text0 {
  width: 100%;
  margin:  auto;
}

.main_text0 h2 {
  width: 85%;
  padding-top: 5rem;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.95);
  margin: 0 auto;
}

.main_text0 .contents1 {
  width: 85%;
  margin: 1rem auto 2rem;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.95);
}

.enjoy_wrap {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}
.enjoy_menu {
  margin: 3rem auto;
  background-color: #fff;
  border-bottom: 3px solid gray;
}
.enjoy_menu:nth-child(1):hover{border-bottom: 3px solid #E71837;}
.enjoy_menu:nth-child(2):hover{border-bottom: 3px solid blueviolet;}
.enjoy_menu:nth-child(3):hover{border-bottom: 3px solid #f9320c;}
.enjoy_menu:nth-child(4):hover{border-bottom: 3px solid #010a13;}
.enjoy_menu:nth-child(5):hover{border-bottom: 3px solid #374d9a;}
.enjoy_menu:nth-child(6):hover{border-bottom: 3px solid #ff3399;}
.enjoy_menu:hover .enjoy_img{
  transform: scale(1.1);
}
.enjoy_img_wrap{
  overflow: hidden;
}
.enjoy_img{
  width: 13.9rem;
  height: 13.9rem;
}
.enjoy_menu:nth-child(1) .enjoy_img{background: url(/img/pheromonetest.jpg) center no-repeat;background-size: contain;}
.enjoy_menu:nth-child(2) .enjoy_img{background: url(/img/zzanggutest.jpg) center no-repeat;background-size: contain;}
.enjoy_menu:nth-child(3) .enjoy_img{background: url(/img/nicknametest.jpg) center no-repeat;background-size: contain;}
.enjoy_menu:nth-child(4) .enjoy_img{background: url(/img/hiddenface.jpg) center no-repeat;background-size: contain;}
.enjoy_menu:nth-child(5) .enjoy_img{background: url(/img/pokemonface.jpg) center no-repeat;background-size: contain;}
.enjoy_menu:nth-child(6) .enjoy_img{background: url(/img/likeabilitytest.jpg) center no-repeat;background-size: contain;}

.enjoy_content{
  text-align: center;
  padding: 1rem;
}
.enjoy_content h3 {
  font-size: 1.2rem;
  font-family: 'KorailRoundGothicBold',sans-serif;
  margin: 0 auto 0.5rem;
}
.enjoy_menu:nth-child(1) .enjoy_content h3{color: #E71837;}
.enjoy_menu:nth-child(2) .enjoy_content h3{color: blueviolet;}
.enjoy_menu:nth-child(3) .enjoy_content h3{color: #f9320c;}
.enjoy_menu:nth-child(4) .enjoy_content h3{color: #010a13;}
.enjoy_menu:nth-child(5) .enjoy_content h3{color: #374d9a;}
.enjoy_menu:nth-child(6) .enjoy_content h3{color: #ff3399;}
.enjoy_content p {
  font-size: 0.9rem;
  color: #424242;
  font-family: 'Pretendard-Regular',sans-serif;
}



.w-btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  margin-left: 15px;
}

.w-btn-outline {
  position: relative;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.w-btn:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.w-btn:active {
  transform: scale(1.5);
}

.w-btn-outline:active {
  transform: scale(1.5);
}

.w-btn-gra1 {
  background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
  color: white;
}

.w-btn a {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 15px;
}


.adsense {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.main_text1 {
  width: 100%;
  border-top: 8px solid #222;
  margin-top: 2rem;
  padding-bottom: 5rem;
}

.main_text1 h2 {
  padding-top: 5rem;
  padding-left: 5rem;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.95);
  margin: 0 auto;
}

.main_text1 .contents2 {
  padding-left: 5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.95);
}


.main_text1 .box-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0 4rem;
}

.main_text1 .box-container .about_text {
  width: 55%;
  height: 100%;
  flex: 0 1 auto;
  padding: 0 5rem 0 0;
  z-index: 3;
}

.main_text1 .box-container .about_text h3 {
  line-height: normal;
  font-size: 2.2rem;
  font-weight: bolder;
  margin-bottom: 1.3rem;
  color: #d49466;
  padding-top: 0;
  padding-left: 5rem;
}

.main_text1 .box-container .about_text h4 {
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 5rem;
  color: rgba(255, 255, 255, 0.8);
  line-height: 2.5rem;
}

.main_text1 .about_img {
  width: 45%;
  height: 100%;
  margin-right: 5rem;
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.06);
  box-shadow: 1px 1px 10px #fff;
}

.main_text1 .about_img img {
  max-width: 100%;
  position: relative;
  z-index: 2;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, red 0%, orange 100%);
  border-image-slice: 1;
  overflow: hidden;
}

.about-more {
  display: block;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 1.8rem;
}

.about-more button {
  background: none;
  border: 0;
}

.about-more a {
  display: inline-block;
  padding: 1rem 2.2rem;
  font-size: 1.6rem;
  text-decoration: none;
  background: #0084FF;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
}

.about-more a:hover {
  background: #fff;
  color: #0084FF;
}


.main_text2 {
  width: 100%;
  border-top: 8px solid #222;
  padding-bottom: 4rem;
}

.main_text2 h2 {
  padding-top: 5rem;
  padding-left: 5rem;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.95);
  margin: 0 auto;
}

.main_text2 .contents3 {
  padding-left: 5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.95);
}

.faq_main {
  list-style: none;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  align-items: center;
  padding-bottom: 8rem;
  transition: all 0.3s;
}

.faq_main li {
  padding: .3rem 0;
  box-sizing: border-box;
  transition: all 0.4s;
}

.faq_main input {
  display: none;
}

.faq_main label {
  display: block;
  padding: 20px;
  border-bottom: 0;
  color: blanchedalmond;
  font-weight: bold;
  background: #666666;
  cursor: pointer;
  position: relative;
  font-size: 1.4rem;
  border-bottom: 1px solid blanchedalmond;
  transition: all 0.4s;
  z-index: 10;
}

.faq_main label:hover {
  background: rgba(255, 255, 255, 0.5);
}

.faq_main input:checked+label {
  background: rgba(255, 255, 255, 0.5);
}


.faq_main i {
  display: inline-block;
  position: absolute;
  top: 0;
  left: -1rem;
  height: 2rem;
  width: 2rem;
  line-height: 2;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  color: #fff;
  background: #1c1e4e;
}

.faq_main input:checked+label i {
  background: #ec1a5b;
}


.faq_main div {
  display: none;
  color: #febd1a;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 30px 20px 30px;
  box-sizing: border-box;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: left;
  transition: 0.4s ease-out;
}


.faq_main input:checked+label+div {
  display: block;
}

.profile {
  text-align: center;
  padding-bottom: 8rem;
}

.profile .profile_img {
  border-radius: 100%;
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.06);
  margin: 2rem 0;
}

.profile .profile_img img {
  object-fit: cover;
  border-radius: 100%;
  height: 10rem;
  width: 10rem;
  display: block;
}

.profile h3 {
  font-size: 3rem;
  color: blanchedalmond;
  font-weight: 200;
  margin-bottom: 1.5rem;
}

.profile h4 {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.78);
  font-weight: 200;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

.profile strong {
  font-weight: 200;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
}

.profile .connect li {
  display: inline-block;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.09);
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  margin-top: 1.2rem;
}

.profile .connect li:hover {
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.2);
}

.profile .connect a {
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
}

.profile .connect a i {
  vertical-align: -webkit-baseline-middle;
  line-height: 2;
}


.last-text {
  font-family: SB 어그로;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1.2rem;
  font-size: 14px;
  margin-bottom: 50px;
  line-height: 1.2rem;
}

.last-text .info {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 18%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.last-text p {
  margin-top: 0.5rem;
}


/* media query */
@media screen and (max-width: 1100px){
  .rank-list .rank-box:hover .rank-img{transform: scale(1); position: static;}
  .mo-rank-box{display: block;}
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .banner .header .layout {
    display: block;
  }

  .banner .header .name a {
    font-size: 2.5rem;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 10px 0;
    left: 0;
    right: 0;
    top: 100%;
    background: rgba(0, 0, 0, .95);
  }

  .navbar_menu li {
    text-align: center;
    padding: 10px 0;
    width: 100%;
  }

  .banner ul li a {
    font-size: 2rem;
    padding: 3px;
  }

  .goog-te-gadget {
    position: absolute;
    float: right;
    right: 30%;
    top: 33%;
  }

  .navbar_toggleBtn {
    display: block;
  }

  .navbar_toggleBtn:hover {
    color: #d49466;
  }

  .navbar_menu.active {
    display: flex;
    z-index: 100;
  }

  .rank-num{font-size: 9rem; margin-top: 9rem; z-index: 1; width: 16%;}
  .rank-img{width: 80%; height: 16rem;}

  .enjoy_wrap {
    width: 96%;
  }
  .enjoy_img{
    width: 22rem;
    height: 22rem;
  }
  .enjoy_content{
    text-align: center;
    padding: 1rem;
  }
  .enjoy_content h3 {
    font-size: 2rem;
  }

  .enjoy_content p {
    font-size: 1.6rem;
  }


  .w-btn {
    padding: 8px 12px;
  }

  .w-btn a {
    font-size: 13px;
  }

  .main_text1 .box-container {
    flex-direction: column;
  }

  .main_text1 .box-container .about_text {
    width: 80%;
    text-align: center;
  }

  .main_text1 .box-container .about_text h3 {
    font-size: 3.2rem;
  }

  .main_text1 .box-container .about_text h4 {
    font-weight: 400;
    font-size: 1.6rem;
  }

  .main_text1 .about_img {
    width: 100%;
    height: 100%;
    max-width: 330px;
    margin: 2.5rem 0 0 0;
  }
  .about-more a{
    padding: 1.4rem 6rem;
    font-size: 2rem;
  }

  .faq_main {
    width: 80%;
  }

  .faq_main label {
    font-size: 1.6rem;
  }

  .profile .connect li {
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .profile .connect a i {
    vertical-align: -webkit-baseline-middle;
    line-height: 0;
  }

  .last-text {
    margin-top: 30px;
    padding: 2rem;
  }

  .last-text p {
    margin-top: 12px;
  }


}