@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.test_bg{
    background: url(img/test_bg.jpg) center center no-repeat;
    background-size: cover;
    margin: auto;
    padding: 1rem 0;
    width: 768px;
}

.suject{
    font-family: 'Cafe24Ohsquare',sans-serif;
    margin: 3.5rem auto 0;
    text-align: center;
    font-size: 7.2rem;
    color: #fff;
    text-shadow: 1px 1px 2px transparent, 0 0 0.9em #FF5C72, 0 0 0.1em #FF5C72;
}
.suject .txt_solo{
    color: #fc0c65;
    text-shadow: 1px 1px 2px transparent, 0 0 0.9em #fff, 0 0 0.1em #fff;
}

.precise {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 1.2rem 0 2.2rem;
}
.precise div{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 31%;
    padding: 0.8rem 0 0.6rem;
    height: 8.2rem;
}
.precise div img{
    width: 4.6rem;
    margin-bottom: 0.8rem;
}
.precise div p{
    color: #424242;
    line-height: 1.3;
    font-weight: 600;
}

.file-upload{
    position: relative;
    width: 44rem;
    margin: auto;
}
.file-upload.result_bg::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 50%;
    display: inline-block;
    background-color: #33A474;
    border-radius: 1rem;
}

.image-upload-wrap {
    border-radius: 18%;
    background-color: #93BAD7;
    height: 16rem;
    width: 20rem;
    margin: 0 auto;
    position: relative;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}
.image-upload-wrap:hover,
.image-upload-wrap:hover .upload_btn::before{
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}
.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    display: inline-block;
    z-index: 1;
}
.image-upload-wrap .upload_btn{
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
}
.image-upload-wrap .upload_btn::before{
    content: '';
    display: inline-block;
    width: 4rem;
    height:4rem;
    border-radius: 100%;
    background: #fff url(img/camera_icon.png) center center no-repeat;
    background-size:84%;
    position: absolute;
    left: 80%;
    bottom: -6%;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}
.image-upload-wrap .upload_btn p{
    font-family: 'GmarketSansMedium',sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 auto 0.4rem;
    line-height: 1.2;
    text-align: center;
}
.image-upload-wrap .upload_btn i{
    font-size: 11rem;
    color: rgba(255, 255, 255, 0.6);
}
.file-upload-content {
    display: none;
    text-align: center;
    width: 100%;
}

.image-title-wrap {
    padding: 1.2rem;
    color: #222;
}

.result-container{ 
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    width: 14rem;
    height: 14rem;
    margin: 1rem auto;
    z-index: 1;
    border: 0.3rem solid #fff;
    background: #000;
}

.file-upload-image {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loadingBox {
    display: none;
    width: 42rem;
    margin: 0 auto;
    background-color: #ffffff;
    border: 0.15rem solid #fc0c65;
    position: relative;
    margin: 1rem;
    padding: 2rem 0 0;
}
.result-title p{
    font-family: 'GongGothicMedium', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: #000;
}
.result-title p  span{
    color: #fc0c65;
    font-size: 2.2rem;
}
.result-image{
    margin: 1rem auto;
}
.result-image img{
    width: 50%;
}
.result-explain{
    padding: 1rem 0;
    background-color: rgb(204, 204, 204, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'GyeonggiTitleM', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
}
.result-explain img{
    width: 20%;
}
.result-explain div .bot_profile{
    position: relative;
    text-align: left;
    background: purple;
    margin-bottom: 1.2rem;
    padding: 0.7rem 1rem;
    border-radius: 0.8rem;
    width: fit-content;
}
.result-explain div .bot_profile::before{
    content: '';
    position: absolute;
    display: inline-block;
    left: -5%;
    bottom: 20%;
    border-bottom: 1.4rem solid purple;
    border-left: 0.9rem solid transparent;
    border-right: 0.9rem solid transparent;
    transform: rotate(-90deg);
}
.result-explain div .bot_profile span{
    font-size: 1.3rem;
}
.result-explain div p{
    font-family: 'DungGeunMo', sans-serif;
    color: #424242;
    margin-left: 0.5rem;
}

.let-share{
    color: #000;
}

.add-message{
    color: #ee3224;
    opacity: 1;
}

@media screen and (max-width:768px){
    .test_bg{
        width: auto;
        min-width: 100%;
    }
    .suject{
        font-size: 8.8rem;
    }

    .file-upload{
        width: 46rem;
    }
    .loadingBox{
        width: 42rem;
    }
    .result-title p{
    font-size: 2.6rem;
    }
    .result-title p span{
    font-size: 2.8rem;
    }
    .result-explain{
        font-size: 2rem;
    }
    .result-explain div .bot_profile{
        margin-bottom: 0.8rem;
    }
    .result-explain div .bot_profile::before{
        border-bottom: 1.4rem solid purple;
        border-left: 0.9rem solid transparent;
        border-right: 0.9rem solid transparent;
    }
    .result-explain div .bot_profile span{
        font-size: 1.7rem;
    }

    .image-upload-wrap{
        width: 24rem;
        height: 20rem;
    }
    .image-upload-wrap .upload_btn::before{
        width: 6rem;
        height: 6rem;
    }
    .image-upload-wrap .upload_btn p{
        font-size: 1.7rem;
    }
    .image-upload-wrap .upload_btn i{
        font-size: 14rem;
    }

    .result-container{
        width: 18rem;
        height: 18rem;
    }

    .result-title span{
        font-size: 2rem;
    }
    .result-title span strong{
        font-size: 2.2rem;
    }
    .result-title h2{
        font-size: 6rem;
    }
    .result-title p{
        font-size: 1.8rem;
    }

    .precise {
        flex-direction: column;
        margin: 2rem 0 3rem;
    }
    .precise div{
        width: 88%;
        display: flex;
        align-items: center;
        padding: 1.1rem 2rem 1rem;
        height: auto;
        margin-bottom: 0.8rem;
    }
    .precise div img{
        margin-bottom: 0rem;
        margin-right: 1rem;
        width: 3.4rem;
    }
    .precise div p{
        text-align: left;
        font-size: 1.4rem;
    }
}