@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.suject {
    font-family: 'SBAggroM', sans-serif;
    font-size: 3rem;
    display: block;
    background: url(img/logo.png) center center / contain no-repeat;
    height: 6rem;
    margin: 4rem auto 2rem;
    color: transparent;
}

.precise {
    text-align: center;
    margin: 0 auto;
    color: rgba(255,255,255,0.9);
    margin-bottom: 3rem;
    font-size: 1.6rem;
    font-family: 'SBAggroM', sans-serif;
}

.file-upload {
    height: 20rem;
    margin: 0 auto;
}
.image-upload-wrap {
    border-radius: 100%;
    background: url("img/imgclick_btn.png");
    object-fit: cover;
    background-position: center;
    background-size: 20rem;
    background-repeat: no-repeat;
    border: 0.2rem dashed red;
    height: 100%;
    width: 20rem;
    margin: 0 auto;
}
.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 20rem;
    height: 20rem;
    outline: none;
    opacity: 0;
    cursor: pointer;
    object-fit: cover;
    display: inline-block;
}
.file-upload-content {
    display: none;
    text-align: center;
    width: 100%;
}

.image-upload-wrap:hover {
    border: 2px solid blanchedalmond;
    box-shadow: rgb(255 255 255) 1px 1px 10px
}


#label-container {
    display: none;
}

.image-title-wrap {
    padding: 1.2rem;
    color: #222;
}

.result-container{ 
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    width: 18rem;
    height: 18rem;
    margin: auto;
    z-index: 1;
    border: 0.3rem solid #f8c1f8;
}

.file-upload-image {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loadingBox {
    display: none;
    width: 42rem;
    height: 28rem;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 2%;
    position: relative;
    margin-top: -8rem;
}
.result-box{
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.result-title {
    font-family: 'SBAggroM', sans-serif;
    font-size: 2.6rem;
    margin: 0 auto;
}
.result-image {
    padding: 3rem 0;
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}
.result-image img {
    width: 60%;
}
.result-explain {
    font-family: 'SBAggroM', sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 1.5;
}