@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.popular{
    text-align: center;
    border-bottom: 8px solid #222;
    margin: 6rem 1rem 0;
}
.popular h2{
    font-family: 'SBAggroB',sans-serif;
    color:#fff;
    font-size: 2.4rem;
    margin-bottom: 1  m rem;
}
.popular_wrap{
    display: flex;
    justify-content: center;
}
.popular_wrap .enjoy_menu:first-child{
    margin-right: 0.8rem;
}
.popular_wrap .enjoy_menu:last-child{
    margin-left: 0.8rem;
}
.popular_wrap .enjoy_menu{
    width: 27.8rem;
    margin: 2.2rem 0 3rem;
}
.popular_wrap .enjoy_menu a{
    display: flex;
    align-items: center;
}
.popular_wrap .enjoy_content{
    margin: auto;
    text-align: left;
}
.popular_wrap .enjoy_content span{
    font-family: 'SBAggroB',sans-serif;
    display: inline-block;
    margin-bottom: 0.6rem;
    font-size: 1rem;
    color: #fff;
    padding: 0.4rem 1rem 0.1rem 0.9rem;
    border-radius: 1rem;
    background: red;
    animation: blink .6s step-end infinite alternate;
    position: relative;
    font-style: italic;
}
@keyframes blink {
    0% { color:#fff961;}
    50% {color:#fff;}
  }
.popular_wrap .enjoy_content span::before{
    content: '';
    position: absolute;
    border-bottom: 0.4rem solid red;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    transform: rotate(180deg);
    top: 100%;
    left: 22%;
}
.popular_wrap .enjoy_content h3{
    font-size: 1.8rem;
}
.popular_wrap .enjoy_content p{
   font-size: 1rem;
}

/* responsive */
@media screen and (max-width: 1030px){
    .popular_wrap{
        flex-wrap: wrap;
    }
    .popular_wrap .enjoy_menu:first-child{
        margin-right: 0;
        margin-bottom: 0;
    }
    .popular_wrap .enjoy_menu:last-child{
        margin-left: 0;
    }
}

@media screen and (max-width: 768px){
    .popular h2 {
        font-size: 3.8rem;
    }
    .popular_wrap .enjoy_menu{
        width: 100%;
    }
    .popular_wrap .enjoy_content span{
        margin-bottom: 0.8rem;
        font-size: 1.7rem;
        color: #fff;
        padding: 0.6rem 1.2rem 0.3rem 1.1rem;
    }
    .popular_wrap .enjoy_content h3{
        font-size: 3rem;
    }
    .popular_wrap .enjoy_content p{
       font-size: 2rem;
    }
}