@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SangSangRock';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SangSangRockOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.test_bg{
    background: url(img/test_bg.jpg) center center no-repeat;
    background-size: cover;
    margin: auto;
    padding: 1rem 0;
    width: 67rem;
    max-width: 100%;
}

.suject {
    font-family: 'SangSangRock',sans-serif;
    margin: 3.5rem auto 0;
    text-align: center;
}
.suject .txt_face{
    color: #000;
    font-size: 8rem;
    -webkit-text-stroke: 0.2rem #fff;
}
.suject .txt_mbti{
    font-size: 8rem;
    -webkit-text-stroke: 0.3rem #40220F;
}
.txt_mbti_m{color: #FFC509;}
.txt_mbti_b{color: #FD8A69;}
.txt_mbti_t{color: #B8E6E1;}
.txt_mbti_i{color: #7ACDEB;}

.subject_eng{
    text-align: center;
    color: #000;
    font-size: 1.8rem;
    margin-top: -0.4rem;
}

.precise {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 2rem 0 3rem;
}
.precise div{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 28%;
    padding: 1.1rem 1rem 1.6rem;
    height: 8rem;
}
.precise div img{
    margin-bottom: 0.8rem;
}
.precise div p{
    color: #424242;
    line-height: 1.3;
    font-weight: 600;
}

.file-upload{
    position: relative;
    width: 46rem;
    margin: auto;
}
.file-upload.result_bg::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 50%;
    display: inline-block;
    background-color: #33A474;
    border-radius: 1rem;
}

.image-upload-wrap {
    border-radius: 18%;
    background-color: #93BAD7;
    height: 20rem;
    width: 24rem;
    margin: 0 auto;
    position: relative;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}
.image-upload-wrap:hover,
.image-upload-wrap:hover .upload_btn::before{
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}
.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    display: inline-block;
    z-index: 1;
}
.image-upload-wrap .upload_btn{
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
}
.image-upload-wrap .upload_btn::before{
    content: '';
    display: inline-block;
    width: 6rem;
    height:6rem;
    border-radius: 100%;
    background: #fff url(img/camera_icon.png) center center no-repeat;
    background-size:84%;
    position: absolute;
    left: 80%;
    bottom: -6%;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}
.image-upload-wrap .upload_btn p{
    font-family: 'GmarketSansMedium',sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 auto 0.4rem;
    line-height: 1.2;
    text-align: center;
}
.image-upload-wrap .upload_btn i{
    font-size: 14rem;
    color: rgba(255, 255, 255, 0.6);
}
.file-upload-content {
    display: none;
    text-align: center;
    width: 100%;
}

#label-container {
    display: none;
}

.image-title-wrap {
    padding: 1.2rem;
    color: #222;
}

.result-container{ 
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    width: 18rem;
    height: 18rem;
    margin: auto;
    z-index: 1;
    border: 0.3rem solid #fff;
    background: #000;
}

.file-upload-image {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loadingBox {
    display: none;
    width: 42rem;
    margin: -8rem auto 0;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 10rem 2rem 4rem;
    position: relative;
    color: #000;
}
.result-title {
    margin: 0 auto 3rem;
    color: #424242;
}
.result-title span{
    font-size: 1.6rem;
}
.result-title span span{
    font-size: 2rem;
}
.result-title h2{
    font-size: 5.6rem;
    color: #33A474;
    margin: 1rem auto 1.2rem;
}
.result-title p{
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(51, 164, 116);
}

.resultMessage1 .character{
    font-family: 'GmarketSansMedium',sans-serif;
    font-size: 1.4rem;
    line-height: 1.45;
    text-align: left;
    margin-bottom: 4rem;
}
.resultMessage1 .fact{
    text-align: left;
    margin-bottom: 4rem;
}
.resultMessage1 .fact h3{
    color: #33A474;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.resultMessage1 .fact ul{
    list-style: square outside none;
    padding: 0 2rem 0;
    font-family: 'GmarketSansMedium', sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
}
.resultMessage1 .keyword {
    margin-bottom: 4rem;
}
.resultMessage1 .keyword h3{
    text-align: left;
    color: #33A474;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.resultMessage1 .keyword ul{
    position: relative;
    height: 14.8rem;
    border: 0.1rem solid #424242;
    border-radius: 100%;
}
.resultMessage1 .keyword ul li{
    position: absolute;
    font-family: 'SBAggroM',sans-serif;
}
.resultMessage1 .keyword ul li:nth-child(1){
    font-size: 1.8rem;
    color: #2BF538;
    top: 4rem;
    left: 29rem;
}
.resultMessage1 .keyword ul li:nth-child(2){
    font-size: 1.6rem;
    color: #9c14db;
    top: 10rem;
    left: 7rem;
}
.resultMessage1 .keyword ul li:nth-child(3){
    font-size: 2.2rem;
    color: #f01a8c;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.resultMessage1 .keyword ul li:nth-child(4){
    font-size: 2rem;
    color: #5892F5;
    top: 3rem;
    left: 8rem;
}
.resultMessage1 .keyword ul li:nth-child(5){
    font-size: 1.8rem;
    color: #F5BA40;
    top: 10rem;
    left: 25rem;
}
.resultMessage1 .keyword ul li:nth-child(6){
    font-size: 2.4rem;
    color: #4082F5;
    top: 13rem;
    left: 10rem;
}

.resultMessage2 .luvstyle{
    text-align: left;
    margin-bottom: 4rem;
}
.resultMessage2 .luvstyle h3{
    color: #33A474;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.resultMessage2 .luvstyle p{
    font-family: 'GmarketSansMedium',sans-serif;
    font-size: 1.4rem;
    line-height: 1.45;
}
.resultMessage2 .luvstyle p .light_line{
    background: rgba(231, 248, 104, 0.7);
}
.resultMessage2 .mbticouple{
    margin-bottom: 4rem;
    text-align: left;
}
.resultMessage2 .mbticouple h3{
    color: #33A474;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.resultMessage2 .mbticouple .bestcouple{
    border: 0.1rem solid #000;
    display: inline-block;
    padding: 0.2rem 0.6rem 0;
    margin-bottom: 1.2rem;
    font-weight: 700;
}
.resultMessage2 .mbticouple .bestcouple p span{
    color: red;
}
.resultMessage2 .mbticouple p{
    font-family: 'GmarketSansMedium',sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
}
.resultMessage2 .samembti{
    margin-bottom: 0.3rem;
    text-align: left;
}
.resultMessage2 .samembti h3{
    color: #33A474;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.resultMessage2 .samembti ul{
    display: flex;
    flex-wrap: wrap;
}
.resultMessage2 .samembti ul li{
    font-size: 1.4rem;
    background: rgba(0, 0, 0, 0.08);
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.4rem;
}

.let-share{
    color: #000;
}

.add-message{
    color: #ee3224;
    opacity: 1;
}

/* responsive */
@media screen and (max-width:768px){
    .suject .txt_face{
        font-size: 10rem;
    }
    .suject .txt_mbti{
        font-size: 10rem;
    }
    .subject_eng{
        font-size: 2rem;
        margin-top: -0.6rem;
    }

    .result-title span{
        font-size: 2rem;
    }
    .result-title span span{
        font-size: 2.4rem;
    }
    .result-title h2{
        font-size: 6rem;
    }
    .result-title p{
        font-size: 1.8rem;
    }

    .resultMessage1 .character{
        font-size: 1.8rem;
    }
    .resultMessage1 .fact h3{
        font-size: 2.8rem;
    }
    .resultMessage1 .fact ul{
        font-size: 1.8rem;
    }
    .resultMessage1 .keyword h3{
        font-size: 2.8rem;
    }
    .resultMessage1 .keyword ul{
        height: 15.2rem;
    }
    .resultMessage1 .keyword ul li:nth-child(1){
        font-size: 2.2rem;
    }
    .resultMessage1 .keyword ul li:nth-child(2){
        font-size: 2rem;
    }
    .resultMessage1 .keyword ul li:nth-child(3){
        font-size: 2.6rem;
    }
    .resultMessage1 .keyword ul li:nth-child(4){
        font-size: 2.4rem;
    }
    .resultMessage1 .keyword ul li:nth-child(5){
        font-size: 2.2rem;
    }
    .resultMessage1 .keyword ul li:nth-child(6){
        font-size: 2.8rem;
    }

    .resultMessage2 .luvstyle h3{
        font-size: 2.8rem;
    }
    .resultMessage2 .luvstyle p{
        font-size: 1.8rem;
    }
    .resultMessage2 .mbticouple h3{
        font-size: 2.8rem;
    }
    .resultMessage2 .mbticouple .bestcouple{
        padding: 0.4rem 1rem 0.1rem;
        margin-bottom: 1.2rem;
    }
    .resultMessage2 .mbticouple p{
        font-size: 1.8rem;
    }
    .resultMessage2 .samembti h3{
        font-size: 2.8rem;
    }
    .resultMessage2 .samembti ul li{
        font-size: 1.8rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding: 0.8rem;
    }

    .precise {
        flex-direction: column;
    }
    .precise div{
        width: 88%;
        display: flex;
        align-items: center;
        padding: 1.1rem 2rem 1rem;
        height: auto;
        margin-bottom: 0.8rem;
    }
    .precise div img{
        margin-bottom: 0rem;
        margin-right: 1rem;
        width: 3.4rem;
    }
    .precise div p{
        text-align: left;
        font-size: 1.4rem;
    }
}