@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.logo_img {
    width: 40.6%;
    margin: 3rem auto 1rem;
}
.logo_img img {
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    display: block;
    margin: 0 auto;
}

.suject {
    font-family: 'SBAggroM', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 4rem auto 5rem;
    color: #000000;
    -webkit-text-stroke: 2px #ffffff;
    z-index: 1;
    position: relative;
}
.suject::before{
    content: '';
    display: block;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display:block;
    width:100%;
    height: 10rem;
    background:url(img/logo.png) center center no-repeat;
    background-size: contain;
    z-index:-1;
}

.file-upload {
    height: 20rem;
    margin: 0 auto;
}
.image-upload-wrap {
    border-radius: 100%;
    background: url("img/seek.png") no-repeat;
    object-fit: cover;
    background-position-x: 60%;
    background-position-y: -2%;
    background-size: 28rem;
    box-shadow: 1px 1px 10px #fff;
    height: 100%;
    width: 20rem;
    margin: 0 auto;
}
.image-upload-wrap:hover {
    border: 2px solid blanchedalmond;
    box-shadow: rgb(255 255 255) 1px 1px 10px
}
.file-upload-input {
    position: absolute;
    width: 20rem;
    height: 20rem;
    opacity: 0;
    cursor: pointer;
    object-fit: cover;
    display: inline-block;
}
.drag-text {
    text-align: center;
    width: 20rem;
    height: 20rem;
}
.fa-download {
    color: #ffffff;
    font-size: 500%;
    padding-top: 1.4rem;
    color: #000000;
    -webkit-text-stroke: 4px rgba(255, 255, 255, 0.8);
}
.drag-text h2 {
    width: 70%;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.8);
    font-size: 2.2rem;
    font-family: 'SBAggroM', sans-serif;
    text-align: center;
    margin: 2rem auto 0;
    line-height: 1.3;
}
.file-upload-content {
    display: none;
    text-align: center;
    width: 100%;
}
.file-upload-image {
    object-fit: cover;
    border-radius: 100%;
    max-height: 15rem;
    max-width: 15rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.subject-explain {
    width: 36rem;
    margin: 5rem auto 0;
}
.subject-explain p {
    font-family: 'SBAggroM', sans-serif;
    font-size: 1.3rem;
    text-align: left;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.3;
}
#label-container {
    display: none;
}
.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}
.loadingBox {
    display: none;
    width: 43rem;
    margin: auto;
}
.result-title {
    font-size: 2.6rem;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.result-title::before {
    content:"";  position:absolute; left: 50%; transform: translateX(-50%);
    display:block; width:36rem; height: 28rem;
    background:url(img/result.jpg) center no-repeat;
    background-size: contain; z-index:-1;
}
.result-explain {
    font-family: 'SBAggroM', sans-serif;
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    line-height: 1.5;
    width: 36rem;
    margin: auto;
}

/* responsive */
@media screen and (max-width: 768px) {
    .suject{
        font-size: 4rem;
    }

    .file-upload-image {
        max-height: 18rem;
        max-width: 18rem;
    }
}