/* font */
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* layout & setting */
*{
    text-transform: capitalize;
    transition: all .2s linear;
}
html {
    font-size: min(2vw, 18px);
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #020200;
    color: rgba(255, 255, 255, 0.95);
    word-break: keep-all; 
    overflow-x: hidden;}
a {
    text-decoration: none;
}

/* top & banner & translation */
.banner {
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/img/banner.jpg");
    background-size: cover;
    border-bottom: 8px solid #222;
}
.banner .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 100000;
    padding: 20px 0
    ;background: rgba(0, 0, 0, .85);
}
.banner .header .layout {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.banner .header .name{
    display: flex;
}
.banner .header .name a {
    text-decoration: none;
    color: blanchedalmond;
    font-size: 2.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 100000;
}
.banner ul li {
    display: inline-block;
}
.banner ul li a {
    font-size: 1.3rem;
    padding: 12px;
    color: blanchedalmond;
    font-family: 'Source Sans Pro', sans-serif;
}
.banner .header ul li a:hover {
    background-color: #d49466;
    border-radius: 4px;
}
.goog-te-gadget{
    position: absolute;float: right;right: 3%;top: 90%;
}
.navbar_toggleBtn {
    display: none;
    position: absolute;
    font-size: 2.5rem;
    color: blanchedalmond;
    right: 32px;
    top: 20px;
}
.banner .banner-text {
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    color: ghostwhite;
    text-align: center;
    font-family: 'Happiness-Sans-Title';
}
.banner .banner-text > div {
    font-size: 48px;
    margin-bottom: 14px;
    color: rgba(255, 255, 255, 0.95);
}
.banner .banner-text p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.95);
    position: relative;
} 
.banner .banner-text button {
    font-size: 16px; 
    background: none; 
    border: 2px solid darkseagreen; 
    color: white; 
    padding: 10px 20px;
    border-radius: 20px; 
    margin-top: 26px; 
    outline: none; 
    cursor: pointer;
    transition: all .4s;
}
.banner .banner-text button:hover {
    background-color: darkslategray;
}

/* google adsense */
.adsense {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

/* loading */
.loadingBox .dim {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
}
.loadingBox .circle {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 10px solid #fff;
    border-top: 10px solid red;
    border-radius: 50em;
    transition: all .2s;
    animation-name: spinCircle;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;
}
@keyframes spinCircle {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* test section bottom */
.remove-image {
    background-color: #0055ff;
    border: 2px dashed blanchedalmond;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: blanchedalmond;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0 18px;
    margin: 3rem 0 0;
    line-height: 50px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: 'SBAggroM', sans-serif;
}
.remove-image:hover {
    background-color: #0076fb;
    border: 2px solid blanchedalmond;
}

.hashtags {
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
}
.hashtags h3{
    display: inline-block;
    background: linear-gradient(90deg, rgba(247,3,226,1) 24%, rgba(231,13,13,0.9360119047619048) 51%, rgba(241,179,9,1) 74%, rgba(245,246,7,1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'SBAggroM', sans-serif;
    line-height: 1.4
}

.let-share {
    text-align: center; 
    margin: 0 auto; 
    margin-top: 2rem; 
    font-size: 2rem; 
    font-weight: 400; 
    font-family: 'SBAggroM', sans-serif; 
    color: rgba(255,255,255,0.85);
}
.share {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
}
.share .naver{
    margin-right: 5px;
}
.share .naver a:hover img{
    transform: translateY(-4px);
}

.add-message {
    color: #ffea00;
    text-align: center;
    font-family: 'SBAggroM', sans-serif;
    padding: 2.5rem 0;
    font-size: 1.1rem;
    line-height: 1.6;
    opacity: 0.8;
}

.other-test {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}
.other-test button{
    background: none;
    border: 0;
    animation: jittery 4s infinite;
}
@keyframes jittery {
    5%,50% {transform: scale(1);}
    10% {transform: scale(0.9);}
    15% {transform: scale(1.15);}
    20% {transform: scale(1.15) rotate(-5deg);}
    25% {transform: scale(1.15) rotate(5deg);}
    30% {transform: scale(1.15) rotate(-3deg);}
    35% {transform: scale(1.15) rotate(2deg);}
    40% {transform: scale(1.15) rotate(0);}
  }
.other-test a{
    display: inline-block;
    font-family: 'SBAggroM', sans-serif;
    padding: 1.2rem 2rem 1rem;
    font-size: 1.8rem;
    text-decoration: none;
    background: #0084FF;
    color: #fff;
    border-radius: 4px;
}
.other-test a:hover{
    background: #fff;
    color: #0084FF;
}

/* footer */
.last-text {
    font-family: 'SBAggroM', sans-serif;
    color: #ffffff99;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1.2rem;
    font-size: 14px;
    margin-bottom: 50px;
    line-height: 1.2rem;
}
.last-text .info {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 18%;
    color: rgba(255, 255, 255, 0.6);
}
.last-text p{
    margin-top: 0.5rem;
}

/* responsive */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .banner .header .layout {
        display: block;
    }
    .banner .header .name a {
        font-size: 2.5rem;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 100%;
    }
    .navbar_menu li {
        text-align: right;
        padding: 10px 0;
        width: 100%;
        margin-right: 50px;
    }
    .banner ul li a {
        font-size: 2rem;
        padding: 3px;
    }
    .goog-te-gadget{
        position: absolute;
        float: right;
        right: 30%;
        top: 33%;
    }
    .navbar_toggleBtn {
        display: block;
    }
    .navbar_toggleBtn:hover {
        color: #d49466;
    }
    .navbar_toggleBtn:focus {
        color: #d49466;
    }
    .navbar_menu.active {
        display: flex;
        z-index: 100;
    }

    .hashtags h3 {
        font-size: 2.2rem;
    }

    .let-share {
        font-size: 2.2rem;
    }

    .add-message{
        font-size: 1.5rem;
    }

    .last-text {
        margin-top: 30px;
        padding: 2rem;
    }
    .last-text p {
        margin-top: 12px;
    }

}